body {
  margin: 0;
  background-image: url(pinkbackground.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  /* background-color: rgb(250, 202, 243); */
  margin: 0;
  height: 5vmax;
}

div {
  display: block;
}


/*Social Icons*/
.icon-circles {
  margin: 1vw;
  background-color: #ffffff;
  opacity: 0.8;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 4px;
}

.icon-circles:hover {
  transform: scale(1.5);
  transition: 1s;
}

.social-icon-block {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.icons {
  width: 1.8em;
}

/*End of social icons*/
.logo {
  width:200px;
  height:50px;
}

/*Navigation bar*/
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  clear: both;
  height: 40px;
  padding: 0px 20px;
  box-sizing: border-box;
  text-shadow: #000000;
}

.nav-item {
  width: 100%;
  position: sticky;
  text-align: center;
}

.nav-name {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-family: 'open sauce';
  /* font-weight: bold;  */
}

.nav-name:hover {
  font-size: 1.5em;
  transition: 1s;
  color: #f6f267;
  /* color: rgb(248, 247, 211); */
}

/*End of navigation bar*/

.blank-space {
  content: " ";
  display: table;
  padding: 2em;
}

.search-text{
    width: 150px;
    border: 2px solid #808080;
    border-right: none;
    padding: 5px;
    height: 14px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.search-text:hover{
  background-color: rgb(250, 202, 243);
  transform: scale(1);
  transition: 0.5s;
}
.search-button{
  width: 40px;
  height: 28px;
  border: 0.5px solid #808080;
  background: #808080;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 10px;
}

.search-icon{
  width: 20px;
  height: 20px;
}
.main-section {
  display: flex;
  flex-direction: row;
  font-family: 'open sauce';
  margin: 30px 30px 30px 30px;
  /* background-color: rgb(250, 202, 243); */
}

.main-section-text-container{
  width: 50%;
  height: 50%;
  padding: 20px 20px 20px 20px;
  text-align: center;
  margin-top: 40px;
}

.main-section-fname{
  font-size: 50px;
  color:#ffffff;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-section-lname{
  margin-bottom:30px;
  font-size: 50px;
  color:#ffffff;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.aboutme-pic
{
  /* width:400px; */
  height:400px;
  text-align: center;
  border: 1px solid #ffffff;
}

.aboutme-pic-container{
  text-align: center;
  padding-top: 30px; 
}
.aboutme-container{
  display:flex;
  flex-direction:column;
}
.aboutme-text-container
{
  text-align: center;
  padding: 50px 50px 50px 50px;
}
.aboutme-text
{
  color: #ffffff;
  font-family: 'open sauce';
  font-size: 25px;
  text-align: center;
}

/* Marquee styling */
.marquee-text {
  display: flex;
  justify-content: center;
  width: 50%;
  /* width: 30%; */
}

.para {
  color: rgb(244, 239, 239);
  font-weight: bold;
  white-space: nowrap;
  clear: both;
  /* float: left; */
  width: 200px;
  height:200px;
}

.painting{
  width:300px; 
  height:300px;
}

.painting-container{
  display: flex;
  flex-direction: row;
  margin: 50px 50px 50px 50px;
}
.painting-text{
  padding: 50px 50px 50px 50px;
  width:50%;
  text-align: center;
  color: #ffffff;
  font-family: 'open sauce';
  font-size: 25px;
}

.edu-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 50px 50px 50px;
    margin-bottom: 100px;
}

.edu-slate{
  box-shadow: 0 4px 8px 0 rgba(250, 242, 242, 0.2);
  padding: 16px;
  text-align: center;
  color: grey;
  font-weight: bolder;
  font-size: larger;
  font-family: 'open sauce';
  background-color:rgb(202, 230, 246);
  border: 1px solid #ffffff;
  height: 300px;
  width: 30%;
  word-wrap: break-word;
}

.profilepic-container{
  width: 50%;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.profilepic{
  width: 60%;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px; 
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.smalltext {
  font-family: open sauce;
  font-size: 20px;
  color: #ffffff;
}

.image-button{
    color: #ffffff;
    font-family: open sauce;
    text-transform: none;
    letter-spacing: .05em;
    font-size: 1rem;
    line-height: 1 !important;
    background: transparent;
    border: 1px solid;
    border-color: #ffffff;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

.image-button:hover{
    transition: .6s;
    transform: translatez(0);
    border: 1px solid;
    background-color:rgb(250, 202, 243);
}

.footer{
  display:flex;
  flex-direction: row;
  font-size:20px;
  color: #ffffff;
  /* background-color:rgb(250, 202, 243); */
  padding: 20px 20px 20px 20px;
  border-top: 1px solid #ffffff;
  font-family: 'open sauce';
}

.footer-text{
  width: 50%;
  color: #ffffff;
  text-align: center;
  font-family: 'open sauce';
  font-size: 15px;
}
/* Contact Form */
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.maincontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.connect {
  padding-top: 20px;
  text-align: center;
  color: rgb(248, 247, 211);
  font-size: 50px;
  justify-content: center;
  text-shadow: 2px 2px 4px #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  /* background-color: #eec2f6; */
  background-color: #fbe0f8;
  padding: 30px;
  font-family: 'Fjalla One', serif;
  margin: 10px 10px 10px 10px;
  width: 500px;
  box-shadow: #868586 0px 5px 15px 0px;
  /* box-shadow: rgba(250, 211, 250, 0.35) 0px 5px 15px; */
}

.contact-form---field {
  height: 1em;
  padding: 20px 20px;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #f8cb74;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
  /* width: 100%; */
  border-style: solid;
  border-color: #a6a6a6;
  box-shadow: rgba(107, 107, 107, 0.35) 0px 5px 15px;
}

.contact-form---field-textarea {
  height: 3em;
  padding: 20px 20px;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #f8cb74;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
  /* width: 100%; */
  border: 1px solid #a6a6a6;
  box-shadow: rgba(107, 107, 107, 0.35) 0px 5px 15px;
}

.button {
  color: #030303;
  background-image: linear-gradient(to bottom, rgb(250, 241, 249), rgb(236, 166, 243));
  border: 100vmax;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 16px;
  margin: 20px 20px 20px 20px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(107, 107, 107, 0.35) 0px 5px 15px;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
/* End of Contact Form */

/* Medium screens */
@media all and (max-width: 800px) {
  .main-nav {
    flex-direction: column;
    justify-content: space-around;
    border:none;
    margin-top: 50px;
  }

  .main-section {
    flex-direction:column;
    width: 100%;
  }
  .main-section-text-container{
    width: auto;
    margin-right: 50px;
  }

 .profilepic-container{
  text-align: center;
 }
 .profilepic{
  display: none;
 }
  .search-icon{
    width: 20px;
    height: 20px;
  }

}
/* Small screens */
@media all and (max-width: 500px) {
  .main-nav {
    flex-direction: column;
    justify-content: space-around;
    border:none;
    margin-top: 50px;
  }

  .main-section {
    flex-direction:column;
    width: 100%;
  }
  .main-section-text-container{
    width: auto;
    margin-right: 50px;
  }

 .profilepic-container{
  text-align: center;
 }
 .profilepic{
  display: none;
 }
  .search-icon{
    width: 20px;
    height: 20px;
  }

  .aboutme-pic-container{
    padding: 20px 20px 20px 20px;
  }
  .aboutme-pic{
    width: 300px;
    height: 300px;
    margin: 20px 20px 20px 20px;
  }
  .painting-container{
    flex-direction: column;
  }
  .painting-text{
    width:auto;
  }
 .marquee-text{
  width:auto;
 }
 .edu-flex{
  flex-direction: column;
 }
 .edu-slate{
  width: auto;
  height: auto;
  margin: 10px 10px 10px 10px;
 }
}
/*End of Media Queries*/